pydantic
pypdf
sqlalchemy
chainlit
langchain_community
qdrant_client
langchain-qdrant
langchain
langchain_openai
langchain_core
langchain_google_vertexai
langchain_community
google-cloud-secret-manager